label
    
    &.select, &.input
        // background-color: var(--color-primary)
        // color: var(--color-primary-content)
        width: 60%
        display: flex

        > select, > input
            width: 60%

        > span
            width: 40%
            // color: var(--color-primary-content)
    
    > input[type=color]
        appearance: none
        height: 30px
        margin: auto
        background-color: transparent
        border: none
        cursor: pointer
        padding: 2px
        padding-left: 0

        &::-webkit-color-swatch
            border-radius: 10px
            border: none
            // height: 60px
            // width: 60px
            padding: 0
            margin: 0

.tabs 
    align-items: center
    justify-content: center

    > .tab
        transition: all 0.3s
        margin-bottom: 1rem

        &:checked + .tab-content
            display: flex
            opacity: 1
            align-items: center
            justify-content: center

.pallete-color
    cursor: default
    user-select: none
    padding:
        top: 1rem
        bottom: 1rem

    &:hover
        opacity: 0.8
        transition: opacity 0.3s
        
.pallete-color-container
    display: inline-block
    margin:
        top: 0.25rem
        bottom: 0.25rem
        left: 0.5rem
        right: 0.5rem
    border:
        color: transparent
        width: 3px
        radius: 2rem
    transition: all 0.3s
    &.selected
        border:
            color: white
        transition: all 0.3s
